
.about {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 99vw;
}

.brand-statement-container, .langs-container, .frame-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-bottom: 3em;
}

.about-me-title, .frame-title, .why-coding-title {
    padding: 5px;
    color: var(--myGoldenrod);
    font-size: 3rem;
}
.why-coding-title {
    font-size: 2rem;
}

.brand-statement-body {
    font-size: 1.9rem;
    text-align: center;
    width: 80%;
}

.icons-container, .tech-icons-container {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: center;
}

.icon {
    text-align: center;
    font-size: 1.2rem;
}

.dev-icon {
    margin: 1.5rem;
    width: 7rem;
    box-shadow: 5px 5px 10px 2px;
    -webkit-transition: width 0.5s ease-in-out, margin 0.5s ease-in-out;
}

.frame-icon {
    margin: 2rem;
    width: 9rem;
    box-shadow: 5px 5px 10px 2px;
    -webkit-transition: width 0.5s ease-in-out, margin 0.5s ease-in-out;
}

.dev-icon:hover {
    margin: 0rem;
    width: 10rem;
}
.frame-icon:hover {
    margin: 0rem;
    width: 12rem;
}
