@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Roboto&display=swap');

:root {
    --gradient: linear-gradient(60deg, #000000, #5E5E65, #000000);
    /* --myBlue: #021F59;
    --myYellow: #FFF07C;
    --myLightGray: #F0F7EE;
    --myGray: #5E5E65;
    --myAqua: #6dd4b28c;
    --myLightAqua: #6dd4b2; */
    --myDarkGray: #1C1C1C;
    --myGray: #B4B4B4;
    --myGoldenrod: rgb(218, 165, 32);
    --myGold: #A57C00;
    --myWhite: #FFFFFF;
    --myGreen: rgb(56, 161, 105);
    --myRed: #C74031;
}


@keyframes start-bg {
    0% {background-position: left}
    100% {background-position: right}
}
body{
    font-family: "SF Mono", monospace;
    color: var(--myWhite);

    background-size: 400%;
    background-image: var(--gradient); 
    animation: start-bg 10s infinite alternate;
}

.remove-a-style {
    color: inherit;
    text-decoration: inherit;
}
